{
  // "presets": [
  //   [
  //     "@babel/preset-env",
  //     {
  //       "modules": false,
  //       "loose": true,
  //       "useBuiltIns": "usage",
  //       "corejs": 3
  //     }
  //   ]
  // ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": {
          // https://jamie.build/last-2-versions
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
