<ul class="movie-cards">
    {{#each this}}
    <li class="itemCard" data-movieID="{{id}}">
        <img src="https://image.tmdb.org/t/p/w500{{backdrop_path}}" alt="filmImg">
        <h2>{{title}}({{release_date}})</h2>


    </li>
    {{/each}}
</ul>