<div class="similarMovies">
       
    <ul>{{#each this}}
        <li class="similarMovies_item">
            <a href="#">
                <img src="https://image.tmdb.org/t/p/w500{{backdrop_path}}" alt="similarMoviePic">
            </a>
        </li>
        {{/each}}
    </ul>
       
</div>