.img-film-card {
  display: block;
  float: left;
  height: 500px;
  width: 350px;
  margin-bottom: 60px;
  margin-right: 50px;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.movieInfo {
  display: block;
  margin-top: 50px;
}

.movieInfo h2,
h3 {
  color: black;
  padding-bottom: 20px;
}

.movieInfo ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding-left: 178px;
  margin-bottom: 50px;
}

.spase {
  padding-left: 150px;
}

.bgrn-p {
  width: 60%;
  margin-left: 390px;
  background-color: rgba(41, 151, 151, 0.8);
  color: #524f4e;
  border-radius: 3px;
}

.float-p-genre {
  display: block;
  float: left;
}

.about-film p {
  padding-right: 100px;
  margin-bottom: 30px;
}


.movieInfo button {
  position: relative;
  display: inline-block;
  width: 10em;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #299797;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em #217a7a;
  background: linear-gradient(#61e2e2, #32b8b8 48%, #217a7a 52%, #299797);
}

.movieInfo button:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}
