@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  min-width: 1200px;
}

.button {
  border: none;
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
}

main {
  margin-bottom: 80px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
/* ----------------------------Header------------------------------------------------------------------- */
.page-header {
  min-height: 50px;
  background-color: aqua;
  background-size: cover;
  border-radius: 50px;
}

.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-logo {
  display: block;
  font: 700 20px 'Montserrat';
  color: rgb(5, 5, 5);
  text-decoration: none;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  transition: color 0.2s linear;
}

.site-navigation__link {
  font: 600 18px 'Montserrat';
  color: rgb(5, 5, 5);
  text-transform: uppercase;
  transition: color 0.2s linear;
}
.site-navigation__link:hover {
  color: #fce38a;
}

.site-navigation__item::after {
  display: block;
  content: '';
  background-color: #fce38a;
  width: 100%;
  height: 3px;
  opacity: 0;
  margin-top: 10px;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.site-navigation__link:hover {
  fill: #fce38a;
}

.site-navigation__item:not(:nth-last-child(-n + 2)):hover::after {
  opacity: 1;
  transform: scaleX(1);
}
/* ----------------------------Search------------------------------------------------------------------- */
.search-form {
  display: flex;
  justify-content: center;
  width: 350px;
  margin: 0 auto;
}
input {
  border: none;
  outline: none;
  border-radius: 20px;
}
input {
  width: 100%;
  height: 42px;
  background: #f9f0da;
  padding-left: 15px;
}
/* ---------------------------- Footer ------------------------------------------------------------------- */
.footer {
  display: block;
  max-height: 200px;
  margin-top: 200px;
}
/* ---------------------------- Wach Card (card.hbs) ------------------------------------------------------------------- */
.img-film-card {
  display: block;
  float: left;
  height: 500px;
  width: 350px;
  margin-right: 50px;
  border-radius: 30px;
}

.movieInfo {
  display: block;
  margin-top: 50px;
}

.movieInfo h2,
h3 {
  color: black;
  padding-bottom: 20px;
}

.movieInfo ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding-left: 178px;
  margin-bottom: 30px;
}

.spase {
  padding-left: 150px;
}

.bgrn-p {
  width: 60%;
  margin-left: 390px;
  background-color: rgb(33, 228, 228);
  border-radius: 40px;
}

.float-p-genre {
  display: block;
  float: left;
}
